
<div id="advancedSearch" class="four wide middle column advanced_search">
  <div class="ui form">
    <div class="field">
      <label>Plateforme</label>
      <div class="ui fluid selection dropdown">
        <div class="text">ADSL, TNT,…</div>
        <i class="dropdown icon"></i>
        <input type="hidden" name="version logicielle">
          <div class="menu">
            <div class="item" data-value="...">...</div>
            <div class="item" data-value="...">...</div>
          </div>
      </div>
    </div>
    <div class="field">
      <label>Support ou type</label>
      <div class="ui left labeled input">
        <input type="text" placeholder="ADSL: Bouygues, Free, SFR, Orange,…">
      </div>
    </div>
    <div class="field">
      <label>Titre</label>
      <div class="ui left labeled input">
        <input type="text" placeholder="Titre">
      </div>
    </div>
    <div class="field">
      <label>Descriptif</label>
      <div class="ui left labeled input">
        <input type="text" placeholder="L'incident se produit lorsque…">
      </div>
    </div>
    <div class="field">
      <label>Discours client</label>
      <div class="ui left labeled input">
        <input type="text" placeholder="Le client indique que…">
      </div>
    </div>
    <div class="field">
      <label>Version logicielle</label>
      <div class="ui fluid selection dropdown">
        <div class="text">1.2, 1.1,…</div>
        <i class="dropdown icon"></i>
        <input type="hidden" name="version logicielle">
          <div class="menu">
            <div class="item" data-value="...">...</div>
            <div class="item" data-value="...">...</div>
          </div>
      </div>
    </div>
    <div class="field">
      <label>Version cache</label>
      <input placeholder="Version" type="text">
    </div>
    <div class="segment">
      <a href="#" class="ui right floated button">Filtrer</a>
    </div>
  </div>
</div>
<div id="advancedSearchResult" class="twelve wide left column">
  <a href="dashboard.html" class="ui tiny right floated red button">
    <i class="block layout icon"></i>
    Dashboard
  </a>
  <div class="ui breadcrumb">
    <a class="section" href="dashboard.html">Dashboard</a>
    <div class="divider"> / </div>
    <div class="active section">Recherche avancée</div>
  </div>
  <div class="container">
    <div class="ui divided selection list">
      <a class="item">
        <div class="ui label right floated date">12 février 2014</div>
        <div class="ui label right floated">Bruce Willis</div>
        <div class="content">
          <div class="header">Incident 2354467876</div>
        </div>
      </a>
      <a class="item">
        <div class="ui label right floated date">16 février 2014</div>
        <div class="ui label right floated">Bruce Willis</div>
        <div class="content">
          <div class="header">Incident 2354467876</div>
        </div>
      </a>
      <a class="item">
        <div class="ui label right floated date">17 février 2014</div>
        <div class="ui label right floated">Bruce Willis</div>
        <div class="content">
          <div class="header">Incident 2354467876</div>
        </div>
      </a>
      <a class="item">
        <div class="ui label right floated">19 février 2014</div>
        <div class="ui label right floated">Bruce Willis</div>
        <div class="content">
          <div class="header">Incident 2354467876</div>
        </div>
      </a>
      <a class="item">
        <div class="ui label right floated">20 février 2014</div>
        <div class="ui label right floated">Bruce Willis</div>
        <div class="content">
          <div class="header">Incident 2354467876</div>
        </div>
      </a>
    </div>
  </div>
</div>
