<div id="incidentFormMenu" class="two wide middle column">
  <div class="sixteen wide column">
    <div class="ui inverted animated selection list">
      <div class="item active">
        Menu 1
      </div>
      <div class="item">
        Menu 2
      </div>
      <div class="item">
        Menu 3
      </div>
    </div>
  </div>
</div>
<div id="dashboard" class="fourteen wide left column">
  <a href="#/incident/test/create" class="ui right floated red button">
    <i class="add icon"></i>
    Créer
  </a>
  <h2 class="ui header">Dashboard</h2>
  <div class="ui two items">
    <div class="item">
      <div class="content">
        <div class="name">Fragment 1</div>
        <table class="ui table segment">
          {{docs}}
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Approved</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Approved</td>
              <td>Requires call</td>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Denied</td>
              <td>None</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="name">Fragment 1</div>
        <table class="ui table segment">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Approved</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Approved</td>
              <td>Requires call</td>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Denied</td>
              <td>None</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="name">Fragment 1</div>
        <table class="ui table segment">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Approved</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Approved</td>
              <td>Requires call</td>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Denied</td>
              <td>None</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="name">Fragment 1</div>
        <table class="ui table segment">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Approved</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Approved</td>
              <td>Requires call</td>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Denied</td>
              <td>None</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  