
<div id="incidentFormMenu" class="two wide middle column">
  <div class="sixteen wide column">
    <div class="ui inverted animated selection list">
      <div class="item active">
        Menu 1
      </div>
      <div class="item">
        Menu 2
      </div>
      <div class="item">
        Menu 3
      </div>
    </div>
  </div>
</div>
<div id="incidentFormContent" class="fourteen wide left column">
  <div class="ui breadcrumb">
    <a class="section" href="dashboard.html">Dashboard</a>
    <div class="divider"> / </div>
    <div class="active section">Nouvel incident</div>
  </div>
  <h2 class="ui header">Nouvel incident</h2>
  <div class="container">
    <div class="ui form segment">
      <div class="ui horizontal icon divider">
        <i class="circular asterisk icon"></i>
        Champs obligatoires
      </div>
      <div class="field">
        <label>Plateformes</label>
        <div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit">
                <label>ADSL</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit">
                <label>SAT</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit">
                <label>TNT</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit">
                <label>Cable / Fibre</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit">
                <label>CPLAY</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit">
                <label>PC/MAC</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit">
                <label>Tablette</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit">
                <label>Smartphone</label>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Support ou type</label>
          <div class="ui left labeled input">
            <input type="text" placeholder="ADSL: Bouygues, Free, SFR, Orange,…">
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
          </div>
        </div>
        <div class="field">
          <label>Titre</label>
          <div class="ui left labeled input">
            <input type="text" placeholder="Titre">
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
          </div>
        </div>
        <div class="field">
          <label>Descriptif</label>
          <div class="ui left labeled input">
            <textarea placeholder="L'incident se produit lorsque…"></textarea>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Discours client</label>
          <div class="ui left labeled input">
            <textarea placeholder="Le client indique que…"></textarea>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="ui horizontal icon divider">
          <i class="circular edit icon"></i>
          Détails Techniques
        </div>
        <div class="field">
          <label>Version logicielle</label>
          <div class="ui fluid selection dropdown">
            <div class="text">Select</div>
            <i class="dropdown icon"></i>
            <input type="hidden" name="version logicielle">
              <div class="menu">
                <div class="item" data-value="...">...</div>
                <div class="item" data-value="...">...</div>
              </div>
          </div>
        </div>
        <div class="field">
          <label>Version cache</label>
          <input placeholder="Version" type="text">
        </div>
        <div class="segment">
          <a href="incident_view.html" class="ui blue submit button">Créer</a>
          <a href="dashboard.html" class="ui right floated button"> Annuler </a>
        </div>
      </div>
    </div>
  </div>
</div>
