
<div id="incidentFormMenu" class="two wide middle column">
  <div class="sixteen wide column">
    <div class="ui inverted animated selection list">
      <div class="item active">
        Menu 1
      </div>
      <div class="item">
        Menu 2
      </div>
      <div class="item">
        Menu 3
      </div>
    </div>
  </div>
</div>
<div id="incidentView" class="fourteen wide left column">
  <div class="ui breadcrumb">
    <a class="section" ng-click="goToDashboard()">Dashboard</a>
    <div class="divider"> / </div>
    <div class="active section">Incident N° {{doc.uid}}</div>
  </div>
  <a href="history.html" class="tiny ui right floated red button">
    <i class="time icon"></i>
    Historique
  </a>
  <a ng-click="edit()" class="tiny ui right floated button">
    <i class="edit icon"></i>
    Editer
  </a>
  <h2 class="ui header">
    Incident N° {{doc.uid}}
    <span class="ui label">
      créé le
      <span class="detail">{{doc.properties['dc:created'] | date: 'medium'}}</span>
    </span>
    <span class="ui label">
      par
      <span class="detail">{{doc.properties['dc:creator']}}</span>
    </span>
  </h2>
  <div class="container">
    <div class="ui form segment">
      <div class="ui two column grid">
        <div class="column formlabel">
          <label>Plateforme</label>
        </div>
        <div class="column formField">
          <span class="">{{doc.properties['dc:coverage']}}</span>
        </div>
        <div class="column formlabel">
          <label>Support ou Type</label>
        </div>
        <div class="column formField">
          <span class="">Orange</span>
        </div>
        <div class="column formlabel">
          <label>Titre</label>
        </div>
        <div class="column formField">
          <span class="">{{doc.properties['dc:title']}}</span>
        </div>
        <div class="column formlabel">
          <label>Descriptif</label>
        </div>
        <div class="column formField">
          <span class="">{{doc.properties['dc:description']}}
          </span>
        </div>
        <div class="column formlabel">
          <label>Discours client</label>
        </div>
        <div class="column formField">
          <span class="">Il ajoute aussi telle chose</span>
        </div>
      </div>
    </div>
  </div>
</div>
