
      <div class="fourteen wide left column">
        <div class="ui breadcrumb">
          <a class="section" href="#/">Dashboard</a>
          <div class="divider"> / </div>
          <div class="active section">Recherche</div>
        </div>
        <div class="container">
          <div class="ui fluid huge icon input">
            <input type="text" ng-model="searchTerm"
              placeholder="Rechercher un numéro d'incident, son auteur, la date de création...">
              <i ng-click="doSearch()"  class="circular search icon"></i>
          </div>
          <div class="ui divided selection list">
            <a   ng-click="navigateTo(doc)"  ng-repeat="doc in docs" class="item">
              <div class="ui label right floated date">{{doc.lastModified}}</div>
              <div class="ui label right floated">{{doc.properties['dc:creator']}}</div>
              <div class="ui label right floated">{{doc.type}}</div>
              <div class="content" >
                <div class="header">{{doc.title}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>